<div class="packages">
  <h1>List of Available Packages:</h1>
  <div class="post-list-wrapper">
    <mat-card class="post-wrapper" *ngFor="let item of list; let i = index">
      <h5>{{ item.id }}</h5>
      <img
        src="https://static.vecteezy.com/system/resources/thumbnails/001/200/107/small/book.png"
        alt=""
      />
      {{ item.name }}
      <div class="delete" style="cursor: pointer;" (click)="onClickDelete(item.id)">x</div>
    </mat-card>
  </div>
  <h1>Create Package</h1>

  <div class="login--content">
    <mat-card class="login--card">
      <form class="login--form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <h1>Enter name of Package</h1>
        <mat-form-field class="input">
          <mat-label>Name</mat-label>
          <input
            formControlName="name"
            ngDefaultControl
            matInput
            type="text"
          />
        </mat-form-field>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          class="btn-submit"
          class="book-create-button"
        >
          create
        </button>
      </form>
    </mat-card>
  </div>

</div>
